<div class="item">
    <div class="img">
        <img src="/images/rubik.jpg" style="height: 100px; aspect-ratio: 1 / 1;" alt="rubik">
    </div>
    <h3><%= item.name %></h3>
    <p>$<%= item.price %></p>
</div>