<header>
    <a href="/" class="logo">The Toy Kingdom</a>
    <a href="/category">View Categories</a>
    <a href="/item">View Items</a>
    <a href="/category/create">Create Category</a>
    <a href="/item/create">Create Item</a>
</header>