<aside>
    <ul>
        <li>
            <a href="/item">ALL</a>
        </li>
        <% for (const category of categories) { %>
        <li>
            <a href="/item?category=<%= category._id %>">
                <%= category.name %>
            </a>
        </li>
        <% } %>
    </ul>
</aside>