<!DOCTYPE html>
<html>

<%- include('components/head') %>

  <body>
    <%- include('components/header') %>

      <div>
        <%= categories %>
      </div>
      <hr>
      <div>
        <%= items %>
      </div>
  </body>

</html>