<!DOCTYPE html>
<html>

<%- include('components/head') %>

<body>
    <%- include('components/header') %>

    <div style="display: flex;">
        <%- include('components/sidebar') %>

        <main>
            <%= item %>
        </main>
    </div>
</body>

</html>