<!DOCTYPE html>
<html>

<%- include('components/head') %>

<body>
    <%- include('components/header') %>

    <div style="display: flex;">
        <%- include('components/sidebar') %>

        <form action="" method="POST">
            <h1>Create Item</h1>
        </form>
    </div>
</body>

</html>