body {
  margin: 0;
}

/* BUTTON */
.btn {
  display: inline-block;
  text-decoration: none;
  padding: 8px 15px;
  border: none;
  border-radius: 5px;
  font-size: 1.05rem;
  font-weight: bold;
  color: white;
}

.btn:hover {
  cursor: pointer;
}

.btn-primary {
  background-color: blueviolet;
}

.btn-primary:hover {
  background-color: blue;
}

.btn-danger {
  background-color: red;
}

.btn-danger:hover {
  background-color: darkred;
}

/* HEADER */
header {
  background-color: green;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px 0;
}

header a {
  text-decoration: none;
  color: yellow;
  font-size: 1.3rem;
  font-weight: bold;
}

header a:hover {
  color: white;
}

header .logo {
  color: lightblue;
  font-size: 2rem;
}

/* SIDEBAR */
aside {
  width: 20%;
  min-height: 100vh;
  background-color: cadetblue;
}

aside ul {
  list-style: none;
  padding-left: 0;
}

aside a {
  display: block;
  text-decoration: none;
  color: white;
  font-weight: bold;
  padding: 10px;
}

aside a:hover {
  color: yellow;
  background-color: black;
}

/* ITEM LIST */
.items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  padding: 30px;
}

.items a {
  text-decoration: none;
  color: black;
}

.items .item {
  border: 3px solid green;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
}

.items .item:hover {
  box-shadow: blueviolet 0px 0px 8px;
}

.items .item p {
  font-size: 1.2rem;
  color: blueviolet;
  font-weight: bold;
}

/* MAIN FORM */
#mainForm {
  padding: 20px;
  width: 100%;
}

#mainForm h1 {
  margin: 0;
}

.form-group {
  display: grid;
  grid-template-columns: 150px 1fr;
  align-items: flex-start;
  gap: 20px;
  width: 75%;
  margin: 0 auto 10px;
}

.form-group label {
  text-align: right;
  font-weight: bold;
}

.form-group input {
  height: 25px;
  border: 1px solid blue;
  padding: 2px 5px;
}

.form-group textarea {
  resize: none;
  border: 1px solid blue;
  padding: 5px;
}

.form-group select {
  height: 30px;
  border: 1px solid blue;
  background-color: white;
}

/* ITEM DETAILS */
.item-detail {
  padding: 20px;
  flex-grow: 1;
}

.item-detail .text {
  flex-grow: 1;
}

.item-detail .text p {
  font-size: 1.1rem;
}

.item-detail .wrapper {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
}

.item-detail #deleteForm {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-color: white;
  padding: 30px;
  border-radius: 10px;
}

.item-detail #deleteForm p {
  margin-top: 0;
}

.item-detail #deleteForm input {
  height: 25px;
  border: 1px solid red;
  border-radius: 5px;
  padding: 2px 5px;
  margin-right: 10px;
}

/* CATEGORY LIST */
table {
  border-collapse: collapse;
  width: 80%;
  margin: 0 auto;
}

table td,
table th {
  border: 1px solid blueviolet;
  padding: 5px 10px;
  text-align: center;
}

table th {
  background-color: black;
  color: yellow;
  text-transform: uppercase;
}

table tr:nth-child(odd) {
  background-color: #f2f2f2;
}

table tr td:nth-child(2) {
  width: 50%;
}
